body {
  font-family: "Outfit";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* NOTIFICATIONS BEFORE NAVBAR */
.notification {
  width: 100%;
  padding: 20px;
  background: #e41129;
  margin: auto;
  padding: 50 px 50px;
  color: white;
}
.notification .notification-text {
  font-size: 14px;
  text-align: center;
}
.notification .notification-text a {
  color: hsl(0, 0%, 100%);
}

/* NAV BAR AND LOGO ENTERPRISE STYLES*/
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
  padding: 20px;
  margin-left: 10%;
}
.navbar .logo-Navbar {
  display: block;
  width: 150px;
  height: 150px;
  padding: 20px;
  margin-left: 10%;
}
.navbar .menu {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 20px;
  background: white;
  text-align: center;
}
.navbar .menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
  top: -10px;
}
.navbar .menu ul li {
  margin-left: 35px;
  color: #e41129;
}
.navbar .menu ul li a {
  color: #e41129;
  text-decoration: none;
  font-weight: 700;
}
.navbar .menu ul li a:hover {
  font-size: 23px;
}

/* BANNER GENERATE WITH SWIPPER */
.banner {
  width: 97%;
  height: 900px;
  background: #e41129;
  /* SWIPPER SLIDER */
}
.banner swiper-container {
  width: 100%;
  height: 100%;
}
.banner swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* PARAGRAPH SECTION CONTENT */
.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.grid-container .container {
  width: 70%;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 100px;
}
.grid-container .card {
  height: 520px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.grid-container .card-img {
  border-radius: 8px;
  display: block;
  height: 300px;
  background: #e41129;
}
.grid-container .text-card {
  border-radius: 8px;
  color: #001c3a;
  height: 300px;
  text-align: left;
}
.grid-container .card-image {
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
}
.grid-container .card-image-over {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -300px;
  color: rgb(250, 243, 243);
}
.grid-container .card-title {
  font-weight: 900;
}
.grid-container .card-paragraph {
  font-size: 13px;
}

.parent-content {
  display: block;
  width: 100%;
  display: block;
  position: relative;
  top: 150px;
  background: #e41129;
  height: 150vh;
  gap: 2px;
}
.parent-content .image-over-div {
  width: 40%;
  height: 700px;
  display: block;
  position: relative;
  left: 30%;
  top: -100px;
  background-image: url("../../paragraph/impactacom_Waiter_preparing_a_cocktail_from_which_a_lot_of_smok_39cc6042-3b3e-4264-91e6-3ddbb9f91152.png");
  background-size: 100% 100%;
}
.parent-content .image-over-div-text {
  display: grid;
  text-align: center;
  background: #001c3a;
  position: relative;
  top: 390px;
  font-size: 30px;
  color: white;
  width: 100%;
  opacity: 0.5;
}
.parent-content .brands-title {
  color: #fff;
  text-align: center;
}
.parent-content .grid-container-brands {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 10px;
  padding: 7px;
  padding: 50 px 50px;
  background: #e41129;
  justify-content: center;
}
.parent-content .grid-container-brands > div {
  background: rgb(211, 40, 40);
  text-align: center;
  font-size: 30px;
  position: relative;
  height: 250px;
  border-radius: 10px;
}
.parent-content .client-card-image {
  display: block;
  width: 60%;
  margin-top: 50px;
  position: relative;
  left: 45px;
  transition: width 2s;
}
.parent-content .client-card-image:hover {
  width: 500px;
}

/* CONTACT FORM STYLES */
.form-parent-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 10px;
  background: #e41129;
  margin-top: 140px;
}
.form-parent-content .content-contact-form {
  display: block;
  width: 100%;
  background: #e41129;
  height: 90vh;
  padding-left: 10%;
  padding-top: 5%;
  text-align: justify;
}
.form-parent-content .form-paragraph {
  color: white;
  width: 82.5%;
  font-size: 12px;
}
.form-parent-content .conditions-patragraph {
  display: block;
  color: white;
  width: 25%;
  font-size: 10px;
  margin-top: 80px;
  float: left;
}
.form-parent-content .form-title {
  display: block;
  width: 100%;
  color: white;
  text-align: left;
}
.form-parent-content .form-title-left {
  display: block;
  margin-top: 15%;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
}
.form-parent-content .form-control {
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  border: none;
  padding-top: 1px;
  color: #e41129;
}
.form-parent-content .form-control-left {
  display: block;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  background: #e41129;
  border-color: white;
}
.form-parent-content .form-control-text-area {
  padding: 10px;
  width: 82.5%;
  border-radius: 5px;
  border: none;
  margin-top: 7px;
  color: #e41129;
  height: 100px;
}
.form-parent-content .form-control-check {
  width: 30px;
  padding: 10px;
  color: #e41129;
  height: 30px;
  display: block;
  float: left;
  border-radius: 10px;
  border: none;
}
.form-parent-content .send-message {
  background: #f8cc18;
  color: #e41129;
  border-radius: 20px;
  width: 40%;
  padding: 5px;
  border: none;
  float: left;
  margin-top: 80px;
  margin-left: 35px;
}
.form-parent-content .form-control-radio {
  width: 40px;
  padding: 10px;
  color: #e41129;
  height: 20px;
  display: block;
  float: left;
  margin-top: 5px;
}

/* NAV BAR PUBLISHED BEFORE FOOTER */
.published {
  width: 100%;
}
.published .published-paragraph {
  color: #e41129;
  font-weight: 100;
  text-align: center;
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
  width: 100%;
  background: #001c3a;
}
.footer .grid-payment {
  display: flex;
  padding-left: 30px;
}
.footer .payment-image {
  display: block;
  width: 40px;
  height: 40px;
  padding-left: 10px;
}
.footer .section-footer h6 {
  padding-left: 8%;
  color: #e41129;
  font-size: 12px;
  font-weight: 100;
}
.footer .section-footer ul {
  list-style: none;
}
.footer .section-footer ul li {
  color: #e41129;
  font-size: 12px;
  font-weight: 100;
}
.footer .payment-title {
  color: white;
  font-weight: 100;
  padding-left: 40px;
}
.footer .redes-title {
  color: #e41129;
  font-weight: 100;
  padding-left: 40px;
}
.footer .enterprise-image {
  display: block;
  width: 150px;
  height: 150px;
  position: relative;
  float: right;
  padding: 10px;
}

/* FOOTER SMARTPHONE */
@media only screen and (max-width: 600px) {
  .footer {
    height: 150vh;
  }
}
/* FOOTER DESKTOP*/
@media only screen and (min-width: 600px) {
  .footer {
    height: 30vh;
  }
}/*# sourceMappingURL=style.css.map */
